.rootPane {
    -fx-background-color: #fefefe;
    -fx-background-radius: 5px;
}

.card {
    -fx-background-radius: 15px;
    -fx-background-color: #f2f2f2;
    -fx-effect: dropshadow(three-pass-box, rgba(62, 39, 35, 0.15),10, 0, 0, 1);
}

.button {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: #f2f2f2;
    -fx-border-color: #5b5b5b;
    -fx-border-width: 1px;
}

.loginButton{
     -fx-background-color: #000000;
     -fx-background-radius: 15;
     -fx-border-radius: 15;
     -fx-text-fill: #FFFFFF;
     -fx-font-weight: bold;
}

.sendCodeButton {
     -fx-background-color: GREEN;
     -fx-background-radius: 25;
     -fx-border-radius: 25;
}

.windowDeco {
     -fx-effect: dropshadow(three-pass-box, rgba(62, 39, 35, 0.15),10, 0, 0, 0);
}

.textField {
     -fx-background-radius: 10;
}

